@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Montserrat&display=swap');
  font-family: "Space Grotesk", "Montserrat", Helvetica, sans-serif;
body #content { max-width: 1600px; margin: 0 auto; }

:root {
  --background-color: #8D7D90;
  --text-color: #002727;
  --link-color: #007979;
  --hover-link-color: #01baba;
  --footer-background: #ECEBF3;
  --footer-text-color: #002727;
}

body {
  background-color: #ECEBF3;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Space Grotesk", sans-serif; /* Ensuring headings have correct font */
}
  
  /* Paragraphs and other text */
  p {
    font-size: 1rem;
    color: #002727; /* Medium gray for paragraphs */
  }

  .header {
    background-color: #8D7D90;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .header a {
    float: left;
    color: #433b44;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .header a:hover {
    background-color: #8D7D90;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .header a.active {
    background-color: #04AA6D;
    color: white;
  }
  /* Apply colors */
  body {
    background-color: var #8D7D90(--background-color);
    color: var #002727(--text-color);
  }
  
  a {
    color: var(--link-color);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--hover-link-color);
  }
  
  footer {
    background-color: var(--footer-background);
    color: var(--footer-text-color);
  }
  
  .header, .footer {
    padding: 20px;
  }

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto 1fr auto; 
    grid-gap: 20px; 
  }
  
  /* Grid items */
  .header {
    grid-column: 1 / span 3; 
  }
  
  .sidebar {
    grid-column: 1 / 2; 
  }
  
  .main-content {
    grid-column: 2 / 3; 
  }
  
  .footer {
    grid-column: 1 / span 3; 
  }
  .header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Left (logo), Center (nav), Right (maybe search or logo) */
    grid-gap: 20px;
  }
  
  /* Style for nav */
  .nav {
    grid-column: 2 / 3; /* Nav will take the middle section */
  }
  
  .header-logo {
    grid-column: 1 / 2;
  }
  
  .header-right {
    grid-column: 3 / 4;
  }
